// define base colors
$color-primary: #0061A1;
$color-secondary: #81A6CC;
$color-text: #505050;

$color-white: #fff;
$color-grey: #f3f3f3;
$color-black: #0a0a0a;
$color-darkgrey: #1e1e1e;
$color-mediumgrey: #a0a0a0;

$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-youtube: #cd201f;
$color-whatsapp: #00e06d;

$color-transparent: rgba($color-white, 0);
$color-alphawhite: rgba($color-white, 0.5);
$color-alphablack: rgba($color-black, 0.5);